<!-- <apex:page standardController="Contact"><apex:iframe src="https://login.eloqua.com/apps/salesTools/profiler?emailAddress={!contact.email}"/> </apex:page> -->
<!-- <apex:page standardController="Contact"><apex:iframe src="https://login.eloqua.com/autoLogin?LoginPrefix=TOMT&Url=/apps/salesTools/profiler?emailAddress={!contact.email}"/> </apex:page> -->

<apex:page standardController="Contact"><apex:iframe src="https://login.eloqua.com/auth/saml2/autologin?LoginPrefix=TOMT&ReturnUrl=/apps/salesTools/profiler?emailAddress={!contact.email}"/> </apex:page>